* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      to bottom right,
      hsla(184, 100%, 73%, 0.3),
      rgba(28, 210, 255, 0.3)
    ),
    url("../public/cartoon-clouds.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#street_sign {
    opacity: 1;
    position: absolute;
    top: 20%;
    left: 33.5%;
}

.sun-circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  top: 21%;
  left: 10%;
}

.elmo {
  position: absolute;
  left: 50%;
  top: 40%;
}

.cookie-monster {
  position: absolute;
  left: 55%;
  top: 35%;
}

.big-bird {
  position: absolute;
  left: 50%;
  top: 25%;
}

.correct {
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 60%;
}

#red_bubble {
  position: absolute;
  top: 5%;
  left: 34%;
}

#yellow_bubble {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 5%;
  left: 30%;
}

#blue_bubble {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 5%;
  left: 38%;
}

.options-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 17%;
  left: 80%;
  height: 400px;
  width: 250px;
  background-color: rgba(255, 228, 196, 0.865);
  border-radius: 15%;
  border: 2px solid rgba(0, 0, 0, 0.293);
}

button {
  border-radius: 10px;
  box-shadow: 4px 4px #888888b8;
  width: 50%;
  margin: auto;
  text-transform: uppercase;
  font-size: larger;
}

#blue_button {
  background-color: blue;
  color: white;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

#red_button {
  background-color: red;
  color: white;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

#yellow_button {
  background-color: yellow;
  color: black;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem;
  border: none;
  cursor: pointer;
}
